.logo {
  height: auto;
  max-width: 13%;
  justify-content: flex-start;
}

.main {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  gap: 2rem;
}

.login {
  list-style: none;
  display: flex;
  padding: 0;
  flex-basis: 13%;
  justify-content: flex-end;
  gap: 2rem;
}
